<div class="row">
    <div class="col-3">
        <%= render "rooms/sidebar" %>
    </div>
    <div class="col-9">
        <div class="card bg-light ml-4">
            <h5 class="card-header">Photos</h5>
            <%=form_for(@room) do |f|%>
                <div class="px-2">
                    <div class="card-body">
                        <div class="text-center">
                            <%= link_to "Select Photos", "#", class:"btn btn-secondary w-50 my-3" %>
                        </div>
                        <div>
                            <%= f.submit "Add Photos", class:"btn btn-dark d-block my-2 px-4 mx-auto" %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>