<% if @photos %>
    <div class="container row mx-auto mb-5">
        <% @photos.each do |photo| %>
            <div class="card col-3 photo-card border py-3">
                <%=link_to room_photo_path(photo.room_id, photo) , remote: true, method: :delete do %>
                    <i class="fa fa-times-circle float-right pb-2 text-dark"></i>
                <% end %>
                <%= image_tag photo.image.url, class: "w-100 m-auto" %>
            </div>
        <% end %>
    </div>
<% end %>